@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 100vw;
  min-height: 100vh;
  background-color: #ff7979;
  background-image: url(./images/bg-intro-desktop.png);
  padding: 121px 165px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 45px;
  font-family: "Poppins", sans-serif;
}
.textBox {
  width: 525px;
  /* height: 60px; */
  display: flex;
  flex-direction: column;
  gap: 11px;
  justify-content: center;
  h2 {
    color: #fff;
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px; /* 110% */
    letter-spacing: -0.521px;
  }
  h4 {
    color: #fff;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
  }
}
.free7Days {
  /* width: 100%; */
  background-color: #5e54a4;
  padding: 17px 112px;
  border-radius: 10px;
  box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.15);

  h3 {
    color: #fff;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.268px;
    span {
      color: #fff;
      text-align: center;
      font-family: Poppins;
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      line-height: 26px; /* 173.333% */
      letter-spacing: 0.268px;
    }
  }
}
section {
  width: 560px;
}
form {
  padding: 20px 40px 40px 40px;
  margin-top: 24px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.15);
  input {
    width: 100%;
    padding: 15px 0 15px 32px;
    border-radius: 5px;
    border: 1px solid #dedede;
    background: #fff;
    margin-top: 20px;
  }
  p {
    /* display: none; */
    color: #ff7979;
    text-align: right;
    font-family: Poppins;
    font-size: 11px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
    margin-top: 6px;
    
  }
  button {
    width: 100%;
    margin: 29px 0 8px 0;
    border-radius: 5px;
    background: #38cc8b;
    box-shadow: 0 -4px 0 0 rgba(0, 0, 0, 0.09) inset;
    padding: 15px 135px;
    color: #fff;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px; /* 173.333% */
    letter-spacing: 1px;
  }
  h4 {
    color: #bab7d4;
    text-align: center;
    font-family: Poppins;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 236.364% */
    span {
      color: #ff7979;
      font-family: Poppins;
      font-size: 11px;
      font-style: normal;
      font-weight: 700;
      line-height: 26px;
    }
  }
}
.hidden{
    display: none;
}
.error{
  border:1px solid #FF7979;
  
}
.blueBord{
    color: #5E54A4;
}