*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 100vw;
    min-height: 100vh;
    background-color:#FF7979 ;
    background-image: url(./images/bg-intro-desktop.png);
    padding: 121px 165px;
    display: flex;
}